<%= form_for(determination) do |f| %>
  <% if determination.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(determination.errors.count, "error") %> prohibited this determination from being saved:</h2>

      <ul>
      <% determination.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
